.chart {
    width: 100%;
    padding: 12px 0px;
    border-radius: 10px;
    display: flex;
    box-shadow: -6px 5px 14px 0px rgba(166, 172, 175, 0.55);
    -webkit-box-shadow: -6px 5px 14px 0px rgba(166, 172, 175, 0.55);
    -moz-box-shadow: -6px 5px 14px 0px rgba(166, 172, 175, 0.55);
    color: gray;
}