#contact{
    position: absolute;
}
.container.contact_container{
    width: 80%;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 2%;
}

.contact_options{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contact_option{
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}

.contact_option:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
}

.contact_option-icon{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.contact_option a{
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 1rem;
}
.contact_option p{
    font-size: 1rem;
}

/*========= form ==============*/

form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
input,textarea{
    margin-bottom: 1rem;
    width: 90%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: var(--color-white);
    border: 2px solid var(--color-primary-variant);
    resize: none;
    font-size: 1rem;
}

/*======= Medium devices =========*/
@media screen and (max-width:1024px){
   #contact{
   /* margin-top: 30rem;*/
   }
   .container.contact_container{
    grid-template-columns: 1fr;
   }
   form{
    /*width: 71%;*/
   }
   .contact_options{
    display: grid;
    grid-template-columns: repeat(2,1fr);
   }
}

/*======= small devices =========*/
@media screen and (max-width:600px){
    #contact{
        margin-top: 30rem;
       }
       .container.contact_container{
        grid-template-columns: 1fr;
       }
       form{
        width: 71%;
       }
       .contact_options{
        display: grid;
        grid-template-columns: repeat(2,1fr);
       }
}