* {
  padding-right: 15px;
  padding-left: 15px;
  color: white;
}

.Body {}

.App {
  background-image: url('image/001.jpg');
  background-repeat: no-repeat;
  background-position: 0% 1%;
  background-size: auto 48%;
  position: fixed;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #23252C;
  width: 500px;
  height: 1160px;
  padding: 0px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.Header {
  padding-top: 570px;
  text-align: center;
}

.Footer {
  background-color: #161619;
}

.Footer {
  height: 70px;
  padding: 0;
  width: 500px;
  font-size: 35px;
  color: #918E9B;
  text-align: center;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.Footer i {
  margin-top: 3%;
  margin-left: 5%;
  margin-right: 5%;
  color: #918E9B;
}

button {
  height: 45px;
  width: 180px;
  font-size: 20px;
  margin-left: 5%;
  margin-right: 5%;
  border: none;
  border-radius: 6px;
}

.btn2 {
  background-color: #5093E2;
}

.btn1 {
  color: #161619;
}

.fa-envelope {
  color: black;
}