body {
  background-color: #23252C;
}

.App {
  text-align: center;
}

h1:nth-of-type(2),
h1:nth-of-type(3) {
  display: inline-block;
}

h1:nth-of-type(1) {
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
}

span {
  padding: 80px 92px 80px 92px;
  text-align: center;
  background-color: aqua;
  border-radius: 100px;
}

h1:nth-of-type(2) {
  color: blue;
  margin-right: 63px;
  padding: 30px 44px 30px 44px;
  text-align: center;
  background-color: orange;
  border-radius: 80px;

}

h1:nth-of-type(3) {
  color: blue;
  margin-left: 63px;
  padding: 30px 40px 30px 40px;
  text-align: center;
  background-color: orange;
  border-radius: 80px;
}