* {
  color: white;
}

.Header {
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  display: flex;
  height: 75px;
}

#logo {
  display: flex;
  width: 70%;
}

#logo img {
  height: 60px;
}

h4 {
  margin-left: 2px;
  margin-top: 5px;
  font-size: 40px;
}

#title {
  margin-top: 14px;
  width: 50%;
  font-size: 25px;
}

.Gen {
  margin-top: 30px;
}

input {
  margin-left: 20px;
  height: 40px;
  width: 400px;
  border-radius: 10px;
  border: 1px solid gray;
  color: black;
}

button {
  background-color: #672280;
  margin-top: 10px;
  margin-left: 20px;
  height: 50px;
  width: 835px;
  border-radius: 10px;
  border: 1px solid gray;
}

.Gen img {
  margin-top: 20px;
  margin-left: 20px;
  width: 835px;
}

.Gen .Container {
  position: absolute;
  width: 79%;
}

.Gen>.Container>h4 {
  position: relative;
  font-size: 70px;
  text-align: center;
  color: #FFFFFF;
  -webkit-text-stroke: 2px black;
  font-family: 'Impact';
}