* {
    font-family: 'Inter';
}

.Test {
    background: #282D35;
    color: white;

}

ul {
    list-style: none;
}

.Test>ul>li::before {
    content: "\2022";
    /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #61DAFB;
    /* Change the color */
    font-weight: bold;
    /* If you want it to be bold */
    display: inline-block;
    /* Needed to add space between the bullet and the text */
    width: 1em;
    /* Also needed for space (tweak if needed) */
    margin-left: -1em;
    /* Also needed for space (tweak if needed) */
}

#NavBar {
    position: absolute;
    display: inline-flex;
    gap: 1rem;
    right: 100px;
    top: 1px;
    font-size: 20px;
}