* {
  margin: 0px;
}

.Header {
  background-color: #F55A5A;
  height: 55px;
}

.Header p,
.Header i {
  padding-top: 6px;
  font-size: larger;
  color: antiquewhite;
}

.Header {
  text-align: center;
}



.data {
  columns: 2;
  column-gap: 20px;
}

.data div {
  margin-left: -75%;
  height: 100%;
}

.data div>* {
  margin-top: 1%;
  font-size: 1.5vw;
}

.data img {
  width: 25%;
}