.changepassword_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.changepassword_image {
  margin-top: 160px;
  max-width: 560px;
  width: 40vw;
}

.change_password h3 {
  color: var(--Black);
  margin-top: 48px;
  margin-left: 5vw;
  text-align: center;
  margin-bottom: 48px;
}
.change_password h2 {
  color: var(--Black);

  margin-top: 16px;
  margin-left: 6vw;
  margin-bottom: 8px;
}
.change_password input {
  max-height: 80px;
  margin-left: 5vw;
  width: 40vw;
  height: 6vw;
  border-radius: 1.2vw;
  padding-left: 16px;
  color: var(--White);
}

.change_password {
  margin-top: 120px;
}

.changepassword_container button {
  margin-left: 10vw;
  margin-top: 40px;
  width: 30vw;
  padding: 8px;
  border-radius: 24px;
  margin-bottom: 80px;
}

.changepassword_container button h2 {
  margin-top: 8px;
  font-size: 32px;
  color: var(--White);
  margin-left: 0vw;
}

.changepassword_container button:hover h2 {
  color: var(--Green);
}

/*======= Medium devices =========*/
@media screen and (max-width: 1024px) {
}

/*======= small devices =========*/
@media screen and (max-width: 600px) {
}
