.createcourses_container {
  margin-top: 24px;
  margin-left: 16px;
}

.createcourses_container textarea {
  display: block;
  height: 10vw;
  padding: 8px 8px 8px 8px;
  border-radius: 16px;
}
.createcourses_container button {
  margin-top: 32px;
  display: block;
}

.createcourses_container input {
  background-color: var(--White);
  border-radius: 1vw;
  height: 32px;
  width: 40vw;
  padding: 0.8vw 0.8vw;
}

.createcourses_container h2 {
  margin-top: 24px;
  margin-bottom: 12px;
}

.createcourses_container button {
  margin-bottom: 24px;
  padding: 0px 8px 16px 8px;
  border-radius: 24px;
  width: 16vw;
}

.createcourses_container video {
  width: 20vw;
}

.uploadvideo_container {
  margin-bottom: 48px;
}

.uploadvideo_container span {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: var(--Red);
  margin-top: 10px;
  margin-left: calc(30vw - 30px);
  border-radius: 10px;
}

.uploadvideo_container span:hover {
  background-color: var(--White);
}

.uploadvideo {
  width: 30vw;
  background-color: #b0bbc1;
  border-radius: 24px;
}

.uploadvideo h1 {
  padding: 5vw 4vw;
}
.uploadvideo h2 {
  margin-top: 4px !important;
}

.uploadvideo_container {
  margin-top: 40px;
  display: flex;
}

.course_data {
  margin-left: 1vw;
}

.course_data h2 {
  margin-top: 4px;
}

.course_data input {
  width: 40vw;
}

/*======= Medium devices =========*/
@media screen and (max-width: 1024px) {
}

/*======= small devices =========*/
@media screen and (max-width: 800px) {
  .createcourses_container {
    margin-left: 0;
  }
  .createcourses_container h2 {
    text-align: center;
  }
  .createcourses_container input {
    width: 80vw;
    margin-left: 10vw;
  }
  .createcourses_container textarea {
    width: 80vw;
    margin-left: 10vw;
  }
  .uploadvideo_container {
    display: block;
  }
  .uploadvideo_container video {
    width: 40vw;
    margin-left: calc(30vw - 16px);
  }
  .createcourses_container button {
    width: 60vw;
    margin-left: 20vw;
  }
}
