.signup_container {
  display: grid;
  grid-template-columns: 45% 45%;
  gap: 10%;
}

.signup_image {
  margin-top: 160px;
  width: 40vw;
  margin-left: -5%;
}

.create_account h3 {
  color: var(--Black);
  margin-top: 48px;
  margin-left: 5vw;
  text-align: center;
  margin-bottom: 48px;
}
.create_account h2 {
  color: var(--Black);

  margin-top: 16px;
  margin-left: 6vw;
  margin-bottom: 8px;
}
.create_account input {
  max-height: 80px;
  margin-left: 5vw;
  width: 40vw;
  height: 40px;
  border-radius: 1.2vw;
  padding-left: 16px;
  color: var(--White);
}

.signup_container button {
  margin-left: 10vw;
  margin-top: 40px;
  width: 30vw;
  padding: 8px;
  border-radius: 24px;
  margin-bottom: 24px;
}

.signup_container button h2 {
  margin-top: 8px;
  font-size: 32px;
  color: var(--White);
  margin-left: 0vw;
}

.signup_container button:hover h2 {
  color: var(--Green);
}

.signup_container p {
  margin-bottom: 8px;
  text-align: center;
}

/*======= Medium devices =========*/
@media screen and (max-width: 1024px) {
}

/*======= small devices =========*/
@media screen and (max-width: 600px) {
  .signup_image {
    display: none;
  }
  .signup_container {
    width: 100vw;
    display: block;
  }
  .signup_container button {
    display: block;
    width: 60vw;
    margin-left: 20vw;
  }
  .signup_container h2 {
    text-align: center;
  }
  .signup_container input {
    width: 60vw;
    margin-left: 20vw;
  }
}
